[global]
# plese do not change
Tweet_limit = 100
Tweet_id_buffer = 100

# request interval parameters
Interval_pattern = [
  1.0, # fast
  3.0, # normal and default
  5.0  # slow
]

# if your OS is windows, change this to false
Support_Muiltibyte = true

[APIkeys]
API_Key = "your apo key"
API_Key_Secret = "your app key secret"
