[global]
Tweet_limit = 100
Tweet_id_buffer = 100
Support_Muiltibyte = true
Default_interval = 5

[APIkeys]
API_Key = "your apo key"
API_Key_Secret = "your apo key secret"
Accsess_Token = "your accsess token"
Accsess_Token_Secret = "your accsess token secret"
